.productTable {
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  gap: 30px;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
  }
  &__button {
    width: 121px;
    height: 50px;
    background: var(--yellow);
    color: var(--black);
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
  }
  &__table {
    width: 100%;
  }
}
.table {
  width: 100%;
  border: 1px solid var(--grey);
  &__header {
    height: 60px;
    background: var(--dark-grey);
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }
  &__headerCell,
  &__cell {
    text-align: left;
    padding: 0px 20px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid var(--grey);
  }
  &__cell-actions {
    display: flex;
    gap: 10px;
  }
  &__cell-action {
    svg rect {
      transition-duration: 1s;
      fill: #e3e8f3;
      &:hover {
        fill: #f4c93f;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  width: 100%;
  text-align: left;
  padding: 0px 20px;
  height: 70px;
  box-sizing: border-box;
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  &__selectContainer {
    position: relative;
    display: inline-block;
  }
  &__select {
    width: 80px;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    appearance: none;
    padding: 0px 15px;
  }
  &__arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
