.navbar {
  grid-column: 1;
  width: 290px;
  height: 100vh;
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__list {
    padding: 0px 20px;
    width: 100%;
    color: white;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  &__link {
    color: white;

    &.active {
      color: var(--yellow);
    }
  }
}
